@import url('https://fonts.cdnfonts.com/css/comic-sans');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comic Sans', sans-serif;
}

body {
    min-height: 100vh;
    position: relative;
    padding-bottom: 3rem;
    position: relative;
}

header {
    margin-top: 90px;
    background-image: url("../img/design1_image2.jpg");
    background-size: cover;
    background-position-y: 20%;
    min-height: 200px;
    position: relative;

}

header h1 {
    margin-top: -85px;
    position: absolute;
    padding-bottom: 20px;
    padding-left: 150px;
    font-size: 2.5em;
}

figure {
    display: inline;
    position: absolute;
    top: -100px;
    left: 16px;
    margin-right: 60px;
    background-color: rgba(255, 255, 255, 0.1);

}

#figure2 {
    display: inline;
    position: absolute;

    background-color: rgba(255, 255, 255, 0.1);
}

#logo {
    width: 130px;
    height: auto;

}

#titulo {
    text-align: center;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    background-color: black;
}

h2 {
    font-size: 2rem;
    padding: 5px;
    font-weight: bold;
    color: white;
    background-color: black;
    margin-top: 0%;
}

#container {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
}

nav {
    position: absolute;
    top: 100px;
    right: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
}

nav a {
    padding: 20px;
    text-decoration: none;
    background-color: darkgray;
    color: white;
    border-radius: 3px;
}

nav a:active {
    background-color: black;
    box-shadow: 10px 10px 10px lightgray;
}

nav a:hover {
    box-shadow: 5px 5px 5px lightslategray;
}

#navhome {
    background-color: black;
    color: white;
}

#contenido {
    width: 40%;
    min-height: 100vh;
    margin-left: 5%;
    padding: 30px;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

#contenido2 {
    width: 90%;
    min-height: 100vh;
    flex-direction: row;
    justify-content: center;
}


#contenido3 {
    width: 100%;
    min-height: 100vh;
    flex-direction: row;
}

#contenido3 p {
    padding-left: 50px;
}

article, section {
    padding: 20px;
}

p {
    padding: 10px;
}

article h3 {
    padding: 10px 0px;
}

article h4 {
    padding: 15px 0px;
}

section h3 {
    padding: 20px;
}

/* ordered lists 1st layer */
article ol {
    list-style-type: decimal;
    padding-left: 20px;
    padding-bottom: 5px;
}

article ol li {
    padding-bottom: 5px;
}

/* Set the second layer of list items to lowercase alphabetic */
article ol>li>ol {
    padding-left: 30px;
    list-style-type: lower-alpha;
}

/*table*/
table {
    font-size: 1.2em;
    width: 100%;
    align-self: center;
    padding: 30px;
}

table th {
    text-align: left;
    background-color: blueviolet;
    color: white;
    font-weight: bold;
}

th, td {
    border-bottom: 1px solid #ddd;
    padding: 5px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

table .td_1st {
    text-align: center;
}

footer {
    min-width: 100%;
    text-align: center;
    bottom: 0;
    padding: 10px 0px;
    background-color: black;
    position: absolute;
    bottom: 0px;
}


.footerimagen {
    color: white;
    font-weight: bold;
    padding: 20px;
}




#galery {
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-bottom: 30px;
}

#galery2 {
    display: flex;
    flex-flow: row, wrap;
    padding-bottom: 30px;
    justify-content: space-around;
}

.card {
    padding: 10px;

    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.cards {
    display: inline-flex;
}

.photo {
    width: 350px;
}

.card3, .card2 {
    align-self: flex-end;
    z-index: 1;
}



.card1, .card4 {
    align-self: flex-start;
    z-index: 2;
}