@import url('https://fonts.cdnfonts.com/css/comic-sans');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comic Sans', sans-serif;
}

html, body {
    min-height: 100vh;
    min-width: 100%;
    position: relative;
    margin: 0px;
    padding-bottom: 3rem;
}

header {
    margin-top: 90px;
    background-image: url("../img/design1_image2.jpg");
    background-size: cover;
    background-position-y: 20%;
    min-height: 200px;
    position: relative;

}

#other {
    margin-top: 90px;
    background-image: url("../img/design1_image1.jpg");
    background-size: cover;
    background-position-y: 20%;
    min-height: 200px;
    min-width: 100%;
    position: relative;
}

header #transpbox {
    display: inline-block;
}

header #transpbox h1 {
    font-size: 2.5em;
    font-weight: 900;
    color: #000000;
    background-color: #ffffff;
    opacity: 0.6;
    border-radius: 5px;
    padding: 1px 5px;
    margin-top: -85px;
    position: absolute;
    padding-bottom: 20px;
    padding-left: 150px;
    font-size: 2.5em;
}



figure {
    display: inline;
    position: absolute;
    top: -100px;
    left: 16px;
    margin-right: 60px;
    background-color: rgba(255, 255, 255, 0.1);

}

#figure2 {
    display: inline;
    position: absolute;

    background-color: rgba(255, 255, 255, 0.1);
}

#logo {
    width: 130px;
    height: auto;

}

#titulo {
    text-align: center;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    background-color: black;
    min-width: 100%;

}

h2 {
    font-size: 2rem;
    padding: 5px;
    font-weight: bold;
    color: white;
    background-color: black;
    margin-top: 0%;
}


nav {
    position: absolute;
    top: 280px;
    right: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    gap: 0.1em 0.5em;
}

nav a {
    padding: 5px;
    text-decoration: none;
    background-color: darkgray;
    color: white;
    border-radius: 3px;
}

nav a:active {
    background-color: black;
    box-shadow: 10px 10px 10px lightgray;
}

nav a:hover {
    box-shadow: 5px 5px 5px lightslategray;
}

#navhome {
    background-color: black;
    color: white;
}

/*  main   */
#container {
    display: flex;
    flex-flow: row wrap;
    align-items: start;
    margin: 30px;
    gap: 10px 15px;

}

#container2 {
    /*game_info's iframes container*/
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 15px;
    gap: 20px;

}

/* contenedores dentro del main*/
#contenido {
    width: 55%;
    min-width: 375px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 15px;
    margin-left: auto;

}

#contenido3 {
    /*table container*/
    width: 100%;

    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 15px;
    margin: 15px;
    margin-left: auto;
}


#galery {
    width: 40%;
    min-width: 375px;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 15px;
    margin: 15px;
    margin-left: auto;

}

.card {

    padding: 5px;
    /* height: fit-content;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    transition-duration: 3s;
    transition-timing-function: linear;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    align-self: center;
}

.photo {
    width: 95%;

}

.card:hover {
    background-size: 100% 100%;
    transform: scale(1.1);
}

p {
    padding: 10px;
    font-size: 1.1rem;
}

#contenido2 {
    width: 100%;
    min-height: 100vh;
    padding: 20px;
    flex-direction: row;
    justify-content: center;
    margin: 15px;
    margin-left: auto;
    font-size: 1.2rem;
}

.contenido #contact_p {
    padding-top: 50px;
    flex-direction: column;
    justify-content: space-around;
}

.contenido #contact_p p {
    padding-top: 30px;
    font-size: 1.3rem;
}



article h3 {
    padding: 10px 0px;
}

article h4 {
    padding: 15px 0px;
}

section h3 {
    padding: 20px;
}

/* ordered lists 1st layer */
article ol {
    list-style-type: decimal;
    padding-left: 20px;
    padding-bottom: 5px;
}

article ul {
    list-style-type: circle;
    padding-left: 20px;
    padding-bottom: 5px;
}

article ul li {
    padding-left: 10px;
}

/* Set the second layer of list items to lowercase alphabetic */
article ol>li>ol {
    padding-left: 30px;
    list-style-type: lower-alpha;
}

/*table*/
table {
    font-size: 1.1em;
    width: 90%;
    align-self: center;
    padding: 20px;
}

table th {
    text-align: left;
    background-color: blueviolet;
    color: white;
    font-weight: bold;
}

th, td {
    border-bottom: 1px solid #ddd;
    padding: 5px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

table .td_1st {
    text-align: center;

}

/*from footer */
.stronger {
    font-weight: bold;
}

.inl {
    transition-duration: 3s;
}

.inl a {
    font-size: 3em;
    padding: 5px 10px;
}

.inl a:active {
    color: blueviolet;
    font-weight: bolder;

}

.inl a:hover {
    color: black;
}



span a {
    text-decoration: none;
}

#contact_gi {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#contact_p {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-left: 20px;


}

#contact_p p {
    font-size: 1.7em;
}

footer {
    min-width: 100vw;
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 0px;
    margin: 0;
    background-color: black;

}

p #footerfixed {
    text-align: center;
}

.footerimagen {
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 20px;

}

/*iframes*/
iframe {
    width: 500px;
    height: 350px;
    border-style: 0;
}

/** formulary  **/
input, option{
    font-size: 1.2rem;;
}

fieldset {
    border: 0;
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    gap: 30px;
    background-image: linear-gradient(white, rgb(226, 89, 117));
}

form {
    font-size: 1.3rem;
    line-height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    margin: 15px;
    gap: 20px;

}

form p {
    font-size: 1.3rem;

}

legend, label, .centered1 {
    font-weight: bold;
}

.centered {
    align-items: baseline;
    justify-content: center;
}

.centered0 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: flex-start;
}

.centered1 {
    padding: 30px;

}

.centered2 {
    background-color: rgb(234, 245, 245);
}

.centered3 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.centered4 {
    align-self: flex-start;
}


#date, #schools {
    min-width: 300px;
    min-height: 50px;
    font-size: 1.5rem;
}

canvas {
    height: 150px;
    width: 300px;
    border-radius: 10px;
    background-color: #ddd;
}

.buttonS {
    background-color: brown;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 32px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.buttonS:hover {
    opacity: 1
}