* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: url("../img/design1_image2.jpg");
    background-size: cover;
    background-position-y: 20%;
    min-height: 200px;

}

header #transpbox {
    display: inline-block;
    background-color: #ffffff;
    opacity: 0.6;
    border-radius: 5px;
}

header #transpbox h1 {
    padding:-10px;
    font-weight: bold;
    color: #000000;
}

figure {
    display: inline;
}

#logo {
    width: 100px;
}

#titulo {
    padding: 5px 0px;
    font-weight: bold;
    text-align: center;
    text-align: center;
    background-color: black;
    margin: 5px 0px;
}

h2 {
    font-size: 2rem;
    padding: 5px;
    font-weight: bold;
    color: white;
    background-color: black;
    margin-top: 0%;
}

nav {
    display: inline;
    width: 20%;
    position: fixed;
    height: 100%;
}

nav a {
    display: block;
    padding: 20px 10px;
}

#navhome {
    text-decoration: none;
}

#contenido {
    display: inline;
    margin-left: 15%;
    padding: 1px 16px;
    height: 100%;
    position: fixed;


}

article, div {
    padding: 10px 10px;
}


p {
    padding: 10px;
}