
 @import url('https://fonts.cdnfonts.com/css/comic-sans');

                
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Comic Sans', sans-serif;
 }
 
 header {
    margin-top: 90px;
     background-image: url("../img/design1_image2.jpg");
     background-size: cover;
     background-position-y: 20%;
     min-height: 200px;
     position: relative;
 
 }
 header h1{
    margin-top: -80px;
    font-size: 2.5em;
 }
 figure {
    transition:5s;

     display: inline;
     position: absolute;
     bottom: -300px;
     left: 16px;
     padding-right: 20px;
     
 
 }
 figure:hover{
    transform: scale(1.2, 1.2);
 }
 #logo {
     width: 150px;
     height: auto;
 
 }
 
 #titulo {
     padding: 0px;
     font-weight: bold;
     text-align: center;
     text-align: center;
     margin:  0px;
 }
 
 h2 {
     font-size: 2rem;
     padding: 5px;
     font-weight: bold;
     color: black;
     background-color: white;
     margin-top: 0%;
     border:1px solid black;
 }
 
 nav {
     display: inline;
     position: fixed;
     height: 100%;
     position: absolute;
     bottom: -75px;
     right: 16px;
 }
 nav a{
    padding:5px;
    border:solid black 2px;
    text-decoration: none;
    background-color: blue;
    color:white;
    
 }
 nav a:active{
    background-color: darkblue;
 }
 
 
 #navhome {
     background-color: green;
     color:white;
 }
 
 #contenido {
     display: inline;
     margin-left: 15%;
     padding: 1px 16px;
     left:100px;
     height: 100%;
     position: absolute;
 
 
 }
 
 article, div {
     padding: 10px 10px;
 }
 
 
 p {
     padding: 10px;
 }